
    server {
      listen ${NGINX_PORT};
      server_name _;
      http2 on;
      client_max_body_size 0;

      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Client-IP $remote_addr;

      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";

      proxy_read_timeout 86400;

      location = / {
        return 302 /registry/;
      }

      location /registry/api {
        proxy_pass http://localhost:${DEV_API_PORT};
      }

      location ~ /registry/(.*)-ui-config.js {
        proxy_pass http://localhost:${DEV_API_PORT};
      }

      location /registry {
        proxy_pass http://localhost:${DEV_UI_PORT};
      }

      location /simple-directory/ {
        proxy_pass http://localhost:${SD_PORT};
      }

      location /events/ {
        proxy_pass http://localhost:${EVENTS_PORT};
      }
    }
